/* ...font style............. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* cmmon style...... */
body{font-family: 'Poppins', sans-serif;
text-align: justify;}
/* First section.............. */
.first-section{display: flex;}
.start-journey{width: 50%;}
.start-journey h1{font-size: 3em; 
    size: 52px;
line-height: 70px;
}
button{background-color: #E02C6D;
color: white;
border-radius: 41px;
width: 169px;
height: 44px;
}
/* SECOND section.............. */
.second-section{margin-top: 200px;}
.second-section h3{display: flex;
    justify-content: center;
font-size: 2em;}
.products{display: grid;
grid-template-columns: 350px 350px 350px;
grid-gap: 50px;
justify-content: center;
}
.product{}
.product-detail h3{font-size: 2em;
margin-bottom: 0px;}
.product-detail h4{font-size: 2em;
margin-top: 0px;}
.product-detail h4{margin-bottom: 0px;
font-weight: 100;}
.product-detail h6{margin-top: 0px;}
.fas.fa-star{color: gold;}
#gray{color: gray;}
.product-detail h6 span{margin-left: 12px;
font-size: 1.5em;}
/* Footer tag... */
footer{height: 250px;
background-color: #0A0826;
color: white;

}
.foot{text-align: center;
margin-top: 150px;}
@media only screen and (max-width:688px) {
    .first-section{width: 100%;}
    
    .products{ grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .product{flex-direction: column;}
    
}
@media only screen and (min-width:688px) and (max-width:992px) {
    .first-section{width: 100%;}
    
    .products{ grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    
}
